    /*
    Flaticon icon font: Flaticon
    Creation date: 10/02/2021 04:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-handshake:before { content: "\f100"; }
.flaticon-creativity:before { content: "\f101"; }
.flaticon-time-management:before { content: "\f102"; }
.flaticon-talking:before { content: "\f103"; }
.flaticon-adaptive:before { content: "\f104"; }
.flaticon-ear:before { content: "\f105"; }
.flaticon-empathy:before { content: "\f106"; }
.flaticon-result:before { content: "\f107"; }
.flaticon-team:before { content: "\f108"; }
.flaticon-facebook-circular-logo:before { content: "\f109"; }
.flaticon-instagram:before { content: "\f10a"; }
.flaticon-paper-plane:before { content: "\f10b"; }
.flaticon-email:before { content: "\f10c"; }
.flaticon-programming:before { content: "\f10d"; }
.flaticon-analysis:before { content: "\f10e"; }
.flaticon-computer:before { content: "\f10f"; }
.flaticon-advisor:before { content: "\f110"; }
.flaticon-ui:before { content: "\f111"; }
.flaticon-html5:before { content: "\f112"; }
.flaticon-css-3:before { content: "\f113"; }
.flaticon-js-file-format-symbol:before { content: "\f114"; }
.flaticon-graph:before { content: "\f115"; }
.flaticon-linkedin:before { content: "\f116"; }
.flaticon-github:before { content: "\f117"; }
    
    $font-Flaticon-handshake: "\f100";
    $font-Flaticon-creativity: "\f101";
    $font-Flaticon-time-management: "\f102";
    $font-Flaticon-talking: "\f103";
    $font-Flaticon-adaptive: "\f104";
    $font-Flaticon-ear: "\f105";
    $font-Flaticon-empathy: "\f106";
    $font-Flaticon-result: "\f107";
    $font-Flaticon-team: "\f108";
    $font-Flaticon-facebook-circular-logo: "\f109";
    $font-Flaticon-instagram: "\f10a";
    $font-Flaticon-paper-plane: "\f10b";
    $font-Flaticon-email: "\f10c";
    $font-Flaticon-programming: "\f10d";
    $font-Flaticon-analysis: "\f10e";
    $font-Flaticon-computer: "\f10f";
    $font-Flaticon-advisor: "\f110";
    $font-Flaticon-ui: "\f111";
    $font-Flaticon-html5: "\f112";
    $font-Flaticon-css-3: "\f113";
    $font-Flaticon-js-file-format-symbol: "\f114";
    $font-Flaticon-graph: "\f115";
    $font-Flaticon-linkedin: "\f116";
    $font-Flaticon-github: "\f117";